extends ../layout/main

block title
	| Главная страница

block content
	include ../sections/banner
	include ../sections/about
	include ../sections/services
	include ../sections/portfolio
	include ../sections/pricing
	include ../sections/team
	include ../sections/partner
	include ../sections/reviews
	include ../sections/other
	include ../sections/secrets