.about
  &-content
    display flex
    flex-wrap wrap
    justify-content space-between

    &__video, &__descr
      flex-basis auto
      width 49%

      .instagram
        text-align center

    &__text
      margin-bottom 25px
      color main-color-text
      line-height 1.2
    