//colors
main-color       = #007558
main-color-text  = #00644b
gray-color       = #898989
gray-color2      = #bababa
black-color      = #0a0a0a

//fonts
main-font        = 'PT Sans', Arial, sans-serif
title-font       = Kurale, serif