section.about#main
  .container
    .about-content
      .about-content__video
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4n4sYqLDr4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .about-content__descr
        h2.section-title О нас
        p.about-content__text
          strong Emerald
          | (в переводе с англ.) – изумруд, драгоценный камень с множеством граней, он олицетворяет нашу деятельность, наш подход к каждому мероприятию. 
        p.about-content__text
          strong Наша основная задача
          | - услышать пожелания клиента и воплотить в жизнь его мечту, какой бы смелой она ни казалась. При этом, мы абсолютно убеждены, что хороший праздник зависит не от количества вложенных в него денег, а от подхода и профессионализма команды, которая работает над проектом.
        p.about-content__text
          strong Команда Emerald 
          | – это целый мир, который дарит мечты.
        .instagram
          include ../../static/img/svg/instagram.svg
          //- svg.instagram__icon
          //-   use(xlink:href="static/img/svg/icons.svg#instagram")
          a.instagram-hash-tag(href="#") #МойМирМойEmerald