section.other#other
  .container
    h2.section-title Наши не свадебные проекты
    p.other-subtitle Также, мы организуем такие мероприятия, как:

    .other-projects
      .other-project
        .other-project__img(style="background-image: url('static/img/content/other/other-1.jpg')")
        span.other-project__title Корпоративы
      .other-project
        .other-project__img(style="background-image: url('static/img/content/other/other-2.jpg')")
        span.other-project__title Дни рождения, юбилеи
      .other-project
        .other-project__img(style="background-image: url('static/img/content/other/other-3.jpg')")
        span.other-project__title Выпускные вечера, детские праздники 
    
    .other-offer
      p.other-offer__text Узнать подробнее можете по телефону 
        a.other-offer__link(href="tel:+74951955722") +38 (044) 450-83-55  
        |  или заполните форму на следующем экране
      a.other-btn(href="#")
        //- svg.arrow-down
        //-     use(xlink:href="static/img/svg/arrow-down.svg")
        include ../../static/img/svg/arrow-down.svg
