section.partner#partner(style="background-image: url('static/img/content/partner-bg.jpg')")
  .container
    h2.section-title Наш партнер –<br>ресторанно-гостнинничный комплекс "Фортеця"
    .partner-photo__wrap
      .partner-photo(style="background-image: url('static/img/content/partner/partner-1.jpg')")
      .partner-photo.partner-photo--width(style="background-image: url('static/img/content/partner/partner-2.jpg')")
      .partner-photo(style="background-image: url('static/img/content/partner/partner-3.jpg')")

    .partner-advantages
      .partner-advantages__step
        span.partner-advantages__number 1
        p.partner-advantages__text – Располагается в 
          b сказочной лесопарковой зоне

      .partner-advantages__step.partner-advantages__step--width
        span.partner-advantages__number 2
        p.partner-advantages__text – Есть возможность размещения на территории: молодоженам в 
          b двухкомнатном люксе, 
          | а остальным гостям мы можем предложить на выбор: гостиничные номера

      .partner-advantages__step.partner-advantages__step--width
        span.partner-advantages__number 3
        p.partner-advantages__text – экслюзивные банкетные залы 
          b расположены на отдельных территориях

      .partner-advantages__step
        span.partner-advantages__number 4
        p.partner-advantages__text – Профессиональное 
          b музыкальное 
          | и 
          b световое 
          | оборудование
    
    .partner-presentation
      p.partner-presentation__text Подробнее о площадке:
      a.global-btn.global-btn--middle(href="#")
        svg.download__icon
            use(xlink:href="static/img/svg/icons.svg#download")
        | Презентация PDF