section.portfolio#portfolio(style="background-image: url('static/img/general/portfolio-bg.jpg')")
  .container
    h2.section-title Портфолио
    .portfolio-list
      .portfolio-item.portfolio-item--width2(style="background-image: url('static/img/content/portfolio/photo-1.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Александра и Юлии

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-2.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Алексея и Татьяны

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-3.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Марии и Юрия

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-4.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Артура и Кристины

      .portfolio-item.portfolio-item--width2(style="background-image: url('static/img/content/portfolio/photo-5.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Вячеслава и Елены

      .portfolio-item.portfolio-item--height2(style="background-image: url('static/img/content/portfolio/photo-6.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Дениса и Марины

      .portfolio-item.portfolio-item--width2(style="background-image: url('static/img/content/portfolio/photo-7.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Александра и Юлии

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-8.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Василия и Валерии

      .portfolio-item.portfolio-item--width2(style="background-image: url('static/img/content/portfolio/photo-9.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Романа и Алины

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-10.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Евгения и Анастасии

      .portfolio-item(style="background-image: url('static/img/content/portfolio/photo-11.jpg')")
        .portfolio-item__search
          svg.portfolio-item__icon
            use(xlink:href="static/img/svg/icons.svg#search")
        .portfolio-item__descr
          span Свадьба Дениса и Анны
    .instagram
      span.instagram-text Следите за нами в инстаграмме: 
      a.instagram-hash-tag(href="#") 
        include ../../static/img/svg/instagram.svg
        | my_world_my_emerald