section.reviews#reviews(style="background-image: url('static/img/content/reviews-bg.jpg')")
  .container
    h2.section-title.section-title--white Отзывы
    .reviews-slider

      .slider-controls.slider-prev--reviews
        svg.arrow__icon
            use(xlink:href="static/img/svg/icons.svg#left-arrow")
      .slider-controls.slider-next--reviews
        svg.arrow__icon
            use(xlink:href="static/img/svg/icons.svg#right-arrow")

      .reviews-js-slider

        .reviews-slider__cards
          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review9.jpg')")
              span.reviews-author__name Наталья,
              span.reviews-author__name Владимир
              span.reviews-date 7 мая 2018
            .reviews-text
              p "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы! 
                b Вы очень тёплые, позитивные, мастера своего дела! 
                | К сожалению, не удалось сказать слова благодарности на свадьбе, при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём. Процветания вам, только положительных эмоций, не капризных молодожёнов."

          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review11.jpg')")
              span.reviews-author__name Артем,
              span.reviews-author__name Анна
              span.reviews-date 24 июня 2018
            .reviews-text
              p "В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.Но! Я глубоко ошибалась! 
              b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была! 
              | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."

        .reviews-slider__cards
          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review10.jpg')")
              span.reviews-author__name Артур,
              span.reviews-author__name Кристина
              span.reviews-date 14 мая 2018
            .reviews-text
              p "Время для благодарностей! 
                b Страна должна знать своих героев в лицо! 
                | Эти две волшебные девочки делают любой праздник сказкой! Самые добрые, внимательные, отзывчивые организаторы на свете! Ребята, мы счастливы, что вы были с нами! Вы потрясающая команда! Команда профессиональная, понимающая, внимательная! Столько потрясающих людей вместе - это клад!!! Спасибо за лучший день в нашей жизни!!! "

          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review12.jpg')")
              span.reviews-author__name Юра и Таня
              span.reviews-date 2 июля 2018
            .reviews-text
              p <b>Таня:</b> "Это было незабываемо!!! Спасибо вам огромное!!!!!!!"
              p <b>Юра:</b> "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!
              p <b>А не официально, просто бомба!"</b>
              
        .reviews-slider__cards
          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review11.jpg')")
              span.reviews-author__name Артем,
              span.reviews-author__name Анна
              span.reviews-date 24 июня 2018
            .reviews-text
              p "В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.Но! Я глубоко ошибалась! 
              b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была! 
              | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."

          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review11.jpg')")
              span.reviews-author__name Артем,
              span.reviews-author__name Анна
              span.reviews-date 24 июня 2018
            .reviews-text
              p "В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.Но! Я глубоко ошибалась! 
              b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была! 
              | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."

        .reviews-slider__cards
          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review12.jpg')")
              span.reviews-author__name Юра и Таня
              span.reviews-date 2 июля 2018
            .reviews-text
              p <b>Таня:</b> "Это было незабываемо!!! Спасибо вам огромное!!!!!!!"
              p <b>Юра:</b> "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!
              p <b>А не официально, просто бомба!"</b>

          .reviews-card
            .reviews-author
              .reviews-photo(style="background-image: url('static/img/content/reviews/review12.jpg')")
              span.reviews-author__name Юра и Таня
              span.reviews-date 2 июля 2018
            .reviews-text
              p <b>Таня:</b> "Это было незабываемо!!! Спасибо вам огромное!!!!!!!"
              p <b>Юра:</b> "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!
              p <b>А не официально, просто бомба!"</b>

          

          

          

         

        

        

        

        
        
