section.services#services(style="background-image: url('static/img/content/services-bg.jpg')")
  .container
    h2.section-title.section-title--white Услуги
    .services-list
      .services-list__item.services-list__item--organization
        h6.services-list__title Организация
        p.services-list__text У нас не было, нет и никогда не будет готовых предложений с набором опций. 
          b Свадьба – это маленькая жизнь со своей историей и душой.
      .services-list__item.services-list__item--leader
        h6.services-list__title Ведущий
        p.services-list__text В нашей команде 
          b более 30 ведущих 
          | разделяющих наше видение на свадебное торжество.
      .services-list__item.services-list__item--center.services-list__item--photographer
        h6.services-list__title Фотограф/Видеоператор
        p.services-list__text В нашей медиа-команде более 
          b 20 специалистов, 
          | проверенных нами. 
      .services-list__item.services-list__item--center.services-list__item--decor
        h6.services-list__title Декор
        p.services-list__text Команда декораторов нашей службы торжеств поможет Вам выбрать 
          b стиль и цветовое решение 
          | Вашей свадьбы.
      .services-list__item.services-list__item--center.services-list__item--banquet
        h6.services-list__title Банкет
        p.services-list__text Наша банкетная служба удовлетворит 
          b любые вкусовые предпочтения 
          | даже самого изысканного гурмана.
      .services-list__item.services-list__item--registration
        h6.services-list__title Выездная регистрация
        p.services-list__text Выслушав 
          b Ваши пожелания, предпочтения и мечту 
          | – как должна пройти эта красивая история, мы поможем ее осуществить.
      .services-list__item.services-list__item--artists
        h6.services-list__title Артисты
        p.services-list__text Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, 
          b поставить «вишенку на торт» в завершении вечера.