section.team#team(style="background-image: url('static/img/content/team-bg.jpg')")
  .container
    .team-content
      h2.section-title Наша команда

      .team-founder
        .team-person__photo.team-person__photo--founder(style="background-image: url('static/img/content/team/founder.jpg')")
        .team-founder__info
          h3.team-founder__name Алиса Истомина
          span.team-founder__job Основатель Группы компаний Emerald
          span.team-founder__job Генеральный директор<br>Организатор, Ведущая
          p.team-founder__text «Наша миссия - нести в массы культуру мероприятий. Любое торжество - свадьба, корпоратив или день рождение - это не банкет с тамадой и набором артистов. Это гораздо глубже, больше. Это эмоции и ощущения, с которыми человек уходит домой, поэтому у каждого нашего праздника есть личная история и душа». 

      .team-person__wrap
        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/leader-oraganization.jpg')")
          h4.team-person__name Наталья Гудошникова
          span.team-person__job Исполнительный директор Группы компаний Emerald
          span.team-person__job Руководитель отдела организации Свадебный распорядитель
          
        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/coordinator.jpg')")
          h4.team-person__name Оксана Абросимова
          span.team-person__job Организатор Свадебный распорядитель
          span.team-person__job Координатор

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/leader-banket.jpg')")
          h4.team-person__name Мария Ершова
          span.team-person__job Руководитель банкетной службы
        

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/photographer.jpg')")
          h4.team-person__name Сергей Прудников
          span.team-person__job Руководитель направления «Emerald media»
          span.team-person__job Фотограф

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/dekor.jpg')")
          h4.team-person__name Элона Губаз
          span.team-person__job Руководитель направления «Декор от Emerald»
          span.team-person__job Декоратор-флорист

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/director.jpg')")
          h4.team-person__name Артур Васильев
          span.team-person__job Режиссер-постановщик мероприятий
          span.team-person__job Сценарист Ведущий

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/leader-child.jpg')")
          h4.team-person__name Ольга Меньшикова
          span.team-person__job Руководитель направления «Emerald детям»

        .team-person
          .team-person__photo(style="background-image: url('static/img/content/team/leader-corporate.jpg')")
          h4.team-person__name Руслан Чачанов
          span.team-person__job Руководитель направления по разработке корпоративных программ и тимбилдингов.
      
      