footer.footer#footer
  .container
  
    .footer-logo
      a.footer-logo__link(href="index.html")
        img.footer-logo__img(src="static/img/general/footer-logo.png", srcset="static/img/general/footer-logo2x.png 2x" alt="Группа компаний Emerald")
    
    .footer-company
      h2.footer-company__name Группа компаний Emerald
      span.footer-company__descr Организация свадебных торжеств

    .footer-phone
      .footer-phone__link
        svg.footer-phone__icon
          use(xlink:href="static/img/svg/icons.svg#phone")
        a(href="tel:+380444508355") +38 (044) 450-83-55
      .footer-phone__link
        svg.footer-phone__icon
          use(xlink:href="static/img/svg/icons.svg#mobile-phone")
        a(href="tel:+380960566033") +38 (096) 056-60-33
      .footer-phone__link
        svg.footer-phone__icon
          use(xlink:href="static/img/svg/icons.svg#mobile-phone")
        a(href="tel:+380507768317") +38 (050) 776-83-17

    ul.footer-social
      li.footer-social__item
        a.footer-social__link(href="#")
          svg.footer-social__vk
            use(xlink:href="static/img/svg/icons.svg#vk")
      li.footer-social__item
        a.footer-social__link(href="#")
          svg.footer-social__instagram
            use(xlink:href="static/img/svg/icons.svg#instagram-black")
      li.footer-social__item
        a.footer-social__link(href="#")
          svg.footer-social__facebook
            use(xlink:href="static/img/svg/icons.svg#facebook")
      li.footer-social__item
        a.footer-social__link(href="#")
          svg.footer-social__viber
            use(xlink:href="static/img/svg/icons.svg#viber")
      li.footer-social__item
        a.footer-social__link(href="javascript:void(0);")
          svg.footer-social__youtube
            use(xlink:href="static/img/svg/icons.svg#youtube")
    
    .footer-copywright
      p.copywright__text &copy; 2018  Все права защищены  
        a.copywright__link(href="javascript:void(0);") Политика конфиденциальности