ul.header-nav__list
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#main") Главная
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#services") Услуги
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#portfolio") Портфолио
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#pricing") Стоимость
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#team") Наша команда
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#partner") Площадка-партнер
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#reviews") Отзывы
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#other") Не свадебные проекты
  li.header-nav__item
    a.scroll-link.header-nav__link(href="#footer") Контакты
