.popup-form#feedback.mfp-hide
  span#popup-close.popup-close x
  .form.form--feedback
        form#form--feedback
          p.form-title Консультация свадебного специалиста с опытом организации 
            b более 200 свадеб!
          .form-group
            svg.form-icon
              use(xlink:href="static/img/svg/icons.svg#user-shape")
            input(type="text", name="name", placeholder="Ваше имя")
          .form-group
            svg.form-icon
              use(xlink:href="static/img/svg/icons.svg#phone")
            input(type="text", name="phone", placeholder="Номер телефона")
          .form-group
            input.global-btn(type="submit", value="Получить консультацию")

        .form-success
          span.form-success__text 
            b Ваша заявкa принята!
          span.form-success__text В ближайшее время мы с вами свяжемся.