@font-face {
    font-family: 'Kurale';
    src: local('Kurale'), local('Kurale-Regular'), url('Kurale.woff2') format('woff2'), url('Kurale.woff') format('woff'), url('Kurale.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
